@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots{
  height: 56px;
  position: relative!important;
  bottom: -25px!important;
}

.slick-dots li{
  margin-right: 10px;
  margin-left: 10px;
}

.slick-dots button{
  background-color: #fff!important;
  border-radius: 100%;
  opacity: 0.4;
}

.slick-dots button::before{
  color: #fff!important;
  opacity: 0.4;
}

.slick-dots li.slick-active button{
  opacity: 1;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}



/* Review card box */
.review-card{
  background:#1c1c1c;
  padding:30px;
  border-radius:14px;
  color:white;
  height:100%;
  transition:0.3s;
}

/* hover effect */
.review-card:hover{
  transform:translateY(-6px);
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

/* user section */
.review-user{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:15px;
}

/* person icon */
.review-user i{
  font-size:45px;
  color:white;
}

/* user name */
.user-info h4{
  margin:0;
  font-size:16px;
  font-weight:600;
  color:white;
}

/* stars */
.review-stars{
  color:#FFC107;
  font-size:16px;
}

/* review text */
.review-card p{
  margin-top:10px;
  color:white;
  line-height:1.6;
  font-size:14px;
}

/* swiper slide alignment */
.swiper-slide{
  display:flex;
  height:auto;
}

/* pagination position */
.swiper-pagination{
  margin-top: 40px;
  position: relative;
}

.swiper-pagination-bullet{
  background: white;
  opacity: .6;
}

.swiper-pagination-bullet-active{
  background: #facc15;
  opacity: 1;
}